.container{
    height:500px;
    width:500px;
    background-color:green;
    border:3px solid red;
    display:flex;
}
.box{
    height:150px;
    width:150px;
    margin:20px;
    border:2px solid orange;
    background-color:aqua;
    /* transition:2s; */

    transition:all;

    /* transition-property:background-color; */
    /* transition-delay:5s; */

    /* shorthandnotation of the transition */

    /* transition:background-color 1s ease 0.10s; */
    /* transition:transform 1s ease 0.50s; */
    /* transition:all 4s ease 1s; */

    /* transition:transform 3s ease-out; */
    /* transition:transform 3s cubic-bezier(1,-0.29, 0, 1.23) 1s; */
    
    /* same thing can be achieve by these */
    /* transition-property:transform;
    transition-duration:3s;
    transition-timing-function:cubic-bezier(1,-0.29, 0, 1.23);
    transition-delay:1s; */
    
    transition-property:transform;
    transition-duration:3s;
    transition-timing-function:ease;
    transition-delay:1s;
}
.box:hover{
    /* background-color:red;
    transform:rotate(45deg); */
    /* transform:translateX(500px); */
    transform: scale(2) translateX(501px) rotate(360deg);
}